<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Accident Report</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style>
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>

</head>
<body>
		<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="https://www.gstatic.com/firebasejs/6.0.1/firebase-app.js"></script>

	<!-- TODO: Add SDKs for Firebase products that you want to use
	     https://firebase.google.com/docs/web/setup#config-web-app -->
	<script src="https://www.gstatic.com/firebasejs/6.0.1/firebase-database.js"></script>

	<div class="container pt-3">
		<div class="jumbotron bg-secondary text-light" style="min-height: 94vh;">
			<h1 class="h2 text-center mb-5">Accident Report</h1>
			<p class="h1 text-center">Name: <strong id="name"></strong></p>
			<hr class="bg-warning">
			<div id="accident-status-list-container" class="my-4">
				<!-- add individual accident statuses as list items here using jQuery -->
			</div>
			<div id="map-container" class="mb-4">
				<div id="map"></div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script>
	  // Your web app's Firebase configuration
	  var firebaseConfig = {
	    apiKey: "AIzaSyBMu_k16O1JrFE0M94st1qXeOXm5rXJjHE",
	    authDomain: "helmetcontrol.firebaseapp.com",
	    databaseURL: "https://helmetcontrol.firebaseio.com",
	    projectId: "helmetcontrol",
	    storageBucket: "helmetcontrol.appspot.com",
	    messagingSenderId: "892854254220",
	    appId: "1:892854254220:web:2e77db61caf5361c"
	  };
	  // Initialize Firebase
	  firebase.initializeApp(firebaseConfig);

	  var database = firebase.database();
	  var userId = {{userid}};

	  var nameRef = firebase.database().ref('/Users/' + userId + '/Name');

	  nameRef.once('value').then(function(snapshot){
	  	$('#name').text(snapshot.val())
	  })

	  var reportListner = firebase.database().ref('/adetected/' + userId + '/report');
	  reportListner.on('value', function(snapshot) {
	  	var data = snapshot.val();

	  	// first, empty the container
	  	$('#accident-status-list-container').html("");
	  	
	  	// then add all elements
	  	for(item in data) {
	  		const itemObj = data[item];

	  		let elem = $(`
	  			<div class="alert alert-success" role="alert">
						<div class="row">
							<div class="col-3 mr-3 text-right">
								<p class="date text-muted mb-1"><strong>${itemObj.date}</strong></p>
								<p class="time text-muted">${itemObj.time}</p>
							</div>
							<div class="col">
					  			<h4 class="alert-heading">${itemObj.value}</h4>
								<p>${itemObj.remarks}</p>
							</div>
						</div>
					</div>
	  			`);
	  		$('#accident-status-list-container').prepend(elem);
	  	}
	  });
	</script>
    
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    
    <script>
		// Initialize and add the map
		function initMap() {
		  // The location of Uluru
  		database.ref('/adetected/'+userId).once('value').then(function(snapshot){
  			var data = snapshot.val();
  			var lat1 = parseFloat(data.lat);
  			var lng1 = parseFloat(data.lon);
  			
		  	var uluru = {lat: lat1, lng: lng1};
		  // The map, centered at Uluru
		  	var map = new google.maps.Map(
		      document.getElementById('map'), 
		      {
		      	zoom: 17, 
		      	center: uluru
		      });
		  // The marker, positioned at Uluru
		  var marker = new google.maps.Marker({position: uluru, map: map});

		  })	

		  // console.log(lat1);
		  // console.log(lng1);	
		  
		}
    </script>
    <script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBN7G14eppA4YqlSr85ZCO1a7tawk9A7fo&callback=initMap">
    </script>

</body>
</html>
<!-- 
name
map
accident status list
 -->